.back-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #696b79;
  margin: 2rem 5rem;
  cursor: pointer;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

.form-container {
  width: 50%;
  height: 100vh;
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.form-subcontainer h1 {
  font-size: 2rem;
  font-weight: bold;
}

.form-container p {
  color: #696b79;
}

.form-container input {
  width: 25rem;
  height: 2.75rem;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 0 1rem;
}

.image-container {
  width: 50%;
  height: 100vh;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  padding: 1rem;
  width: 10rem;
  margin: 2rem 2.5rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 20px;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #696b79;
  box-shadow: 4px 4px 0px #000000;
}
