.footer-container {
    max-width: 1170px;
    background-color: black;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

u1 {
    list-style: none;
}

.footer {
    background-color: #050506;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col ul li a:hover {
    color: #ffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:h {
    color: #24262b;
    background-color: #ffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        display: flex; 
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}