.card-body {
  width: 90%;
  margin: 2rem   auto;
  background: #ffffff;
  border: 1px solid #696b79;
  display: flex;
}

.card-img {
  width: 50rem;
  height: 20rem;
  object-fit: cover;
}

.card-text {
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.card-text .card-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin: 1rem 0;
}

.card-text .card-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #696b79;
}
